{% extends "home/header.html" %}
{% block content %}
	<form method="GET" action=''>
	<div class="row">
    	<div class="col-sm-2">
      		<input type='text' name='q' class="form-control" placeholder='Search Books' value ='{{request.GET.q}}' aria-describedby="basic-addon2"/>
    	</div>
    	<div class="col-sm-2"> 
      		<select class="form-control" id="s" name="f" value= '{{request.GET.f}}'>
        		<option selected="selected">Choose</option>
        		<option>Title</option>
        		<option>Author</option>
        		<option>Genre</option>
        		<option>Call Num</option>
      		</select>
    	</div>
    	<div class="col-sm-2">
      		<input type='submit'  class="form-control" value='Search'/>
    	</div>
    </div>
  
  
    </form>
    <div class="row">
    	<div class="col-md-12">
        	<hr class="style13">
        </div>
    </div>
    {% for post in object_list %}
    	<h5><b>ID: </b>{{ post.id }} <b>Author: </b>{{ post.Author }} <b>Title:</b> <a href="/catalogue/{{post.id}}">{{ post.Title }}</a></h5>

    {% endfor %}
{% endblock %}